.toolbar {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    padding: 28px;
    border-radius: 4px;
    width: 92%;
        margin-right: 2.5%;
}

.toolbar-content {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
