.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.2em;
  margin-bottom: 3em;
  width: 100%;
}

.header .menu {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.28px;
  text-align: left;
  color: rgba(98, 98, 98, 1);
  padding-bottom: 32px;
}

.header .menu span {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.28px;
  text-align: left;
  color: rgba(245, 130, 31, 1);
}

.header .heading {
  font-family: 'Segoe UI', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 42.56px;
  text-align: left;
}

.header p {
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.62px;
  text-align: left;
  color: rgba(98, 98, 98, 1);
  width: 100%;
}